lib_managed
dist
target*
.idea/
*.iml
assembly/target
bagel/target
core/target
examples/target
external/flume/target
external/flume-assembly/target
external/flume-sink/target
external/kafka/target
external/kafka-assembly/target
external/mqtt/target
external/mqtt-assembly/target
external/twitter/target
external/zeromq/target
graphx/target
launcher/target
mllib/target
network/common/target
network/shuffle/target
network/yarn/target
repl/target
sql/catalyst/target
sql/core/target
sql/hive/target
sql/hive-thriftserver/target
streaming/target
target
tools/target
unsafe/target
yarn/target
